* {
  font-family: cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #8455a8;
  padding: 10px 40px;
}

h1 {
  color: #0f0;
  text-align: center;
}

ul {
  list-style: none;
}

ul h3 {
  color: #f70071;
  text-align: center;
}

ol {
  text-align: center;
  padding: 10px 40px;
  list-style: none;
}

ol li {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

a button {
  border-radius: 10px;
  background-color: #0f0;
  color: black;
  font-weight: bold;
  border: none;
  width: 100px;
  padding: 3px;
}

a button:hover {
  color: #f70071;
  box-shadow: 0 0 10px 3px #0b0;
  /* NOTE --> box-shadow: [desplazamiento horizontal] [desplazamiento vertical] [desenfoque] [dispersión opcional] [color]; */
}

img {
  width: 100px;
  filter: drop-shadow(0px 0px 20px rgb(109, 19, 49));
}

.lista {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 20px;
  border: solid 2px black;
}

.lista_categoria {
  width: 15%;
  min-width: 200px;
}

.div_1 {
  margin: auto;
  max-width: 400px;
  background-color: #8455a8;
  border-radius: 20px;
  border: solid 2px black;
  position: relative;
  bottom: -25px;
}
