body {
  background-color: #8455a8;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: #0f0;
}

h3 {
  color: #f70071;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
}

img {
  width: 100px;
}

/* .lista {
  display: flex;
  flex-wrap: wrap;
} */

.lista_categoria {
  width: 15%;
  min-width: 200px;
}
