@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --light_blue: #99d7ff;
  --light_green: #d1ee7e;
  --dark_blue: #114b8b;
  --white: #ffffff;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", serif;
}

body {
  background-color: #8455a8;
  padding: 0.625rem 2.5rem;
}

html {
  font-size: 16px;
}

h1 {
  color: #0f0;
  text-align: center;
}

ul {
  list-style: none;
}

ul h3 {
  color: #f70071;
  text-align: center;
}

ol {
  text-align: center;
  padding: 0.625rem 2.5rem;
  list-style: none;
}

ol li {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

a {
  text-decoration: none;
}

a button {
  border-radius: 0.625rem;
  background-color: #0f0;
  color: black;
  font-weight: bold;
  border: none;
  width: 6.25rem;
  padding: 0.1875rem;
}

a button:hover {
  color: #f70071;
  box-shadow: 0 0 0.625rem 0.1875rem #0b0;
  /* NOTE --> box-shadow: [desplazamiento horizontal] [desplazamiento vertical] [desenfoque] [dispersión opcional] [color]; */
}

img {
  width: 6.25rem;
  filter: drop-shadow(0 0 1.25rem rgb(109, 19, 49));
}

.lista {
  padding: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 1.25rem;
  border: solid 0.1875rem black;
}

.lista_categoria {
  width: 15%;
  min-width: 12.5rem;
}

.div_1 {
  margin: auto;
  max-width: 25rem;
  background-color: #8455a8;
  border-radius: 1.25rem;
  border: solid 0.1875rem black;
  position: relative;
  bottom: -1.5625rem;
}
